{% extends "tasks/base.html" %}
{% block content %}
<div class="w-100 about" style="text-align: center;">   
    <div class="aboutBG-2" >
        <br>
        <h1>A better way to get tasks done</h1>     
        Task Machine is a personal project/task management system that will help you get your projects done right. 
        <p>
            <img class="fillwidth" src="/media/TMscreen.png" alt="Sign Up Free!">
        </p>
    </div>
    <div class="aboutBG-3" >
        <br>
        <h1>Customize</h1>
        Task Machine's text editor will allow you to make your task entries as detailed as you like.
        <br>
        You can change font, highlighting and you can even insert images and tables.
        <p>
            <img class="fillwidth" src="/media/editor.png" alt="Sign Up Free!">
        </p>
        {% if not user.is_authenticated %}
        <p>
            <a class="btn btn-outline-info" href="/register">Sign Up for Free!</a>
        </p>
        {% endif %}
        <br>
    </div>
    
    <div >
        <br>
        <h1>Task Machine's Future</h1>
        <p>
            Since Task Machine is a brand new product that is still under development, you can expect to see many new improvements in the near future such as:
            <ul>
                <li>Visualizations of the task hierarchy</li>
                <li>Calendar and notifications of tasks</li>
                <li>Ability to add subtask or reference entries in body of task text</li>
                <li>Support for multiple user colaboration</li>
            </ul>
        </p>    
            If you have suggestions for improvements please see the contact section below.
        
    </div>
    <div  class="aboutBG-4">
        <br>
        <h1>Contact</h1>
        <p>If you have any question, comments, or suggestions please contact site owner, Robert Petty at: 
            <a href="mailto:rob.petty@taskmachine.net">rob.petty@taskmachine.net</a>
        </p>
    </div>

</div>
{% endblock content %}
    