{% extends "tasks/leftbar.html" %}
{% block header %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
{% endblock header %}
{% block content %}
    <div class="col-md-8">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><span class="article-title">{{ post.title }}</a></h2>
                    <small class="text-muted">Date Created: {{ post.date_posted}}</small>
                    <br>
                    <small class="text-muted">Last Edited: {{ post.date_edited}}</small>
                    <a class="article-title edit" href="/post/{{ post.pk }}/update">
                        edit
                        <img src="media/edit-button.png" class="edit" alt="Edit Post" width="25" height="25">
                    </a>
                </div>
                <div class="article-metadata">
                    <p class="article-content">{{ post.content | safe }}</p>
                </div>
            </div>
        </article>
    </div>
    
{% endblock content %}
{% block js %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
{% endblock js %}
