{% extends "tasks/base.html" %}
{% block leftBar %}
<div class="col-md-4 leftbar" >
    <div class="content-section" id="leftBar">
        <h3>Tasks</h3>
        <p class='text-muted'>
            <input class="form-control" id="myInputLeftBar" type="text" placeholder="Search..">
            <div class="button-container">
                
                <div id="sort-choice" class="dropdown">
                    <button class="btn ascend-descend" type="button" >&uarr;</button>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">ABC<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li data-value="ABC"><a href="javascript:void(0)">ABC</a></li>
                        <li data-value="Due-Date"><a href="javascript:void(0)">Due Date</a></li>
                        <li data-value="Date-Created"><a href="javascript:void(0)">Date Created</a></li>
                        <li data-value="Date-Edited"><a href="javascript:void(0)">Last Edited</a></li>
                    </ul>
                </div>
                <div id="filter-choice" class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filters<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Task Level</li>
                        <li><input type="checkbox" name="top" checked>Top Level Tasks</li>
                        <li><input type="checkbox" name="mid" checked>Middle Level Tasks</li>
                        <li><input type="checkbox" name="bottom" checked>Bottom Level Tasks</li>
                        <li class="dropdown-header">Completion Status</li>
                        <li><input type="checkbox" name="done" checked>Complete</li>
                        <li><input type="checkbox" name="incomplete" checked>Not Complete</li>
                        <li class="dropdown-header">Time Status</li>
                        <li><input type="checkbox" name="overdue" checked>Due Date Passed</li>
                        <li><input type="checkbox" name="current" checked>Before Due Date</li>
                    </ul>
                </div>
            </div>
            <div class="scroll">
                <ul class="list-group" id="leftBarList">
                {% for post in post_list %}
                <li class="list-group-item list-group-item-light" data-fields="{% if post.complete %}done{%else%}incomplete{%endif%},{%if post.overdue %}overdue{%else%}current{%endif%},{{post.level}}">
                    <a href="/?id={{ post.id }}">
                        <span class="post-title">
                        {% if post.complete %}
                            <span class="green dot"></span>{% else %}<span class="red dot"></span>
                        {% endif %}
                            {{ post.title }}
                        </span>
                        {% if post.due_date%}
                        <span class="list-date text-muted due-date" data-due-date="{{post.due_date}}">Due: {{post.due_date}}</span>
                        {% endif %}
                        <span class="list-date text-muted date-created" data-date-created="{{post.date_posted}}">Created: {{post.date_posted}}</span>
                        <span class="list-date text-muted date-edited" data-date-edited="{{post.date_edited}}">Edited: {{post.date_edited}}</span>
                    </a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </p>
        
    </div>
</div>

{% endblock leftBar %}