{% extends "tasks/base.html" %}
{% block leftBar %}
<div class="col-md-4 leftbar" >
    <div class="content-section">
        <h3>Tasks</h3>
        <p class='text-muted'>
            <input class="form-control" id="myInputLeftBar" type="text" placeholder="Search..">
            <div class="scroll">
                <ul class="list-group" id="leftBarList">
                {% for post in post_list %}
                    <li class="list-group-item list-group-item-light"><a class="article-title" href="/?id={{ post.id }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </p>
        
    </div>
</div>

{% endblock leftBar %}