{% extends "tasks/leftbar.html" %}
{% load crispy_forms_tags %}
{% block header %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
{% endblock header %}
{% block content %}
    <div id="pk" style='display: none;' data-pk="{{ post.pk }}"></div>
    <div class="col-md-8">
        <div class="content-section">
            <form method="POST" id="entryform">
                {% csrf_token %}
                <fieldset class="form-group">
                {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <div style="text-align: center">
                        <button class="btn btn-outline-info" type="submit" id='post'>Save Changes</button>
                        <a class="btn btn-outline-secondary" href="/?id={{ post.pk }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        {% if post.pk != 'new' %}
        <div class="media content-section">
                <div class="media-body">
                    <div style="text-align: center">
                        <a class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}">DELETE TASK</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}
{% block js %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<script>

    $("#myInputLeftBar").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#leftBarList li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    $(document).ready(function() {

        $('#id_content').summernote({
                 // set editor height
            minHeight: 250, 
            maxHeight: 500,           // set minimum height of editor
        }
        );
    });
</script>
  
{% endblock js %}    
